html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
  img {
    pointer-events: none;
  }
}

body{
  margin: 0;
  padding: 0;
  font-family: @font-family-base;
  font-weight: @font-weight-base;
  font-size: @font-size-base;
}


h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

p{
  margin-bottom: 10px;
}

.app{
  .fade-in();
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
}

.content-container{
  .content{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0;
  }
  &.no-sidebar{
    .titlebar-header, .sidebar{
      visibility: hidden;
    }
  }
}

.content{
  display: flex;
  flex-direction: column;
  .sidebar, .detail {
    position: absolute;
    bottom: 0;
  }
  .sidebar{
    min-width: 220px;
    flex: 0 220px;
    top: 0;
  }
  .detail{
    flex-direction: row;
    min-width: 780px;
    background: #f0f0f0;
    overflow: hidden;
    z-index: 999;
    left: 220px;
    top: 45px;
  }
}
