.titlebar{
  min-width: 100%;
  min-height: 45px;
  position: absolute;
  display: flex;
  flex-direction: row;
  -webapp-user-select: none;
  -webkit-app-region: drag;
  &.no-drag {
    -webkit-app-region: no-drag;
  }
  .buttons-container, .header-container{
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .buttons-container{
    flex: 0 220px;
    align-items: center;
  }
}

.buttons {
  display: inline-block;
  position: relative;
  left: 12px;
  z-index: 1000;
  -webkit-app-region: drag;
  &:hover{
    .button-minimize.enabled {
      .at2x('minimize.png', 10px, 10px);
    }
    .button-close.enabled {
      .at2x('close.png', 10px, 10px);
    }
  }
  .button {
    .traffic-light();
    &.button-close {
      background-color: @traffic-light-red;
      border-color: @traffic-light-red-border;
    }
    &.button-minimize {
      background-color: @traffic-light-yellow;
      border-color: @traffic-light-yellow-border;
    }
    &.button-fullscreen {
      background-color: @traffic-light-green;
      border-color: @traffic-light-green-border;
    }
    &.button-fullscreenclose {
      background-color: @traffic-light-green;
      border-color: @traffic-light-green-border;
    }
    &.disabled {
      background-color: @traffic-light-gray;
      border-color: @traffic-light-gray-border;
    }
  }
}