# Ignore .DS_Store files on mac
.DS_Store

# Ignore electron, build, dist
cache
build
dist

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules